//- This file is part of elexis-oob
    Copyright (c) 2019 by G. Weirich

h2 Verbindungsdaten
p Beim ersten Start wird Elexis Sie nach Verbindungsdaten fragen.
  |  Verwenden Sie bitte folgende Angaben:
table
  tr
    td Server
    td= hostname
  tr 
    td Datenbank
    td= dbname
  tr
    td Datenbank-Port
    td= port 
  
  tr
    td Benutzername
    td= username
  tr
    td Passwort
    td= password
p (Die hier gefragte Benutzeridentifikation ist NICHT Ihr Elexis-Login, sondern die Verbindungsdaten zur 
  | Datenbank, wie sie bei der Einrichtung der Datenbank angegeben wurden.)    

