@model TimeEntryCore.Models.Worktime

@{
    ViewData["Title"] = "Delete";
}

<h1>Löschen</h1>

<h3>Eintrag löschen?</h3>
<div>
    <h4>Arbeitszeit</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeUsed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeUsed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lunch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lunch)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="WorktimeID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Zurück</a>
    </form>
</div>
